<!DOCTYPE html>

{% extends "main.html" %}
{% load static %}
{% csrf_token %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Sibdev {% endblock %}</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/style.css' %}"/>
</head>

{% block content %}
    <body>
        Ваши данные успешно отправлены и обработаны.<br><br>
        {{ formset.as_p }}
<!--        {{ csv_file }}-->
        {% for item in csv_file %}
            Клиент - {{ item.customer }};
            Предмет - {{ item.item }};
            Количество - {{ item.quantity }};
            Итог - {{ item.total }};
            Дата - {{ item.date_time }}.
            <br>
        {% endfor %}
    </body>
{% endblock content %}
</html>