<!DOCTYPE html>

{% load static %}
{% csrf_token %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} Sibdev {% endblock %}</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/style.css' %}"/>
</head>

{% block content %}
    <body>
        Empty<br>
        <form enctype="multipart/form-data" method="post">
            <p><input type = "file" ID = "fileSelect" accept = ". xlsx, .xls, .csv" />
            <input type="submit" value="Отправить"></p>
        </form>
        <br>
        <br>
    </body>
{% endblock content %}

</html>